databricks_account_id    = "c4548f31-5cc9-4fb9-b9ae-6f7c91bcb9e8"
databricks_workspace_id  = "0000000000000000"
databricks_workspace_url = "https://adb-0000000000000000.0.azuredatabricks.net"

azure_client_id     = "REPLACE_WITH_SP_CLIENT_ID"
azure_client_secret = "REPLACE_WITH_SP_CLIENT_SECRET"
azure_tenant_id     = "REPLACE_WITH_TENANT_ID"

azure_region = "eastus"
ncc_name     = "ncc-aura-privatelink"

aura_pls_resource_id  = "pls-aura-xxxx.guid.region.azure.privatelinkservice"
aura_group_id         = "neo4j-aura"
aura_private_hostname = "d48d6199.databases.neo4j.io"
